body {
  background-color: blue;
}

h1 {
  font-size: 35px;
  text-align: center;
}

#vnc {
  font-size: 25px;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-body {
  padding:5px;
}

.word {
  cursor: pointer;
  color: #0088cc
}

.word:hover {
  text-decoration: underline;
}

.def {
  display: none;
  background-color: lightgray;
}

.logo {
  display: none;
}

.green-background { 
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}